* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      list-style: none;
      color: #fff;
}
body{
       background-color: #40A2D8;
}

.navbar {
      width: 100%;
      min-height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 30px;
      padding-right: 30px;
      background-color: #000000;

}

.logo h1{
      color: #fff;
      font-weight: 600;
}



.nav-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      gap: 40px;
}

.nav-link {
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-size: 18px;
      font-weight: 400;
}



.hamburger {
      display: none;
      cursor: pointer;
}

.bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #ffffff;
}

@media(max-width:990px) {
      .hamburger {
            display: block;
      }
      .hamburger.active .bar:nth-child(2) {
            opacity: 0;
      }

      .hamburger.active .bar:nth-child(1) {

            transform: translateY(8px) rotate(45deg);
      }

      .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
      }

      .nav-menu {
            position: fixed;
            left: -100%;
            top: 70px;
            gap: 0;
            height: calc(100vh - 50px);
            flex-direction: column;
            background-color: rgb(0, 0, 0,0.7);
            width: 100%;
            text-align: center;
            transition: 1s;
            transition-property: all ;
            display: flex;
            justify-content: center;
            align-items: center baseline;
            z-index: 9999;
      }

      .nav-item {
            padding: 20px 0px 20px 0px;
            display: block;
            width: 100%;
            text-align: center;
            height: max-content;

      }

      .nav-link:hover {
            font-size: 20px;
      }

      .nav-link {
            color: #ffffff;
            font-size: 20px;
      }

      .nav-menu.active {
            left: 0;
      }

      .nav-link button {
            width: 200px;
            height: 60px;
            font-size: 20px;
      }
}
.about_paragrpah {
      font-size: 16px;
      text-align: justify;
      width: 80%;
      margin: 0 auto;
      padding-bottom: 10px;
}

.About-Section-Heading {
      font-size: 20px;
      font-weight: 700;
      text-align: center;
}

@media screen and (max-width:750px) {
      .about_paragrpah {
            width: 100%;
      }
}

.banner a img {
      width: 100vw;
      height: auto;
      border-radius: 10px;
}

/* .navbar-brand h1 {
      color: rgb(255, 255, 255);
      justify-content: center;
      align-items: center;
      text-shadow: 6px 6px 5px rgb(189, 241, 255);

} */

.History-Section {
      width: 100%;
      overflow-x: hidden;
}

.History-Section h2 {
      text-align: center;
      margin-top: 10px;
      font-weight: 500;
}

.History-Section .Hisrtory-headings {
      font-size: 20px;
      font-weight: 700;
}

.History_paragraph-section {
      font-size: 16px;
      font-weight: 400;
      margin-top: 5px;
      text-align: justify;

}

.HistoricalPlaces {
      width: 100%;
      height: auto;
      overflow-x: hidden;
}

/* Hanuman Mandir History Style Section start */
.Hanumam_mandir_History_box {
      width: 80%;
      height: auto;
      padding: 20px;
}

.image-box {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px
}

.Hanuman_ji_image {
      width: 90%;
      height: auto;
      border-radius: 15px 50px 30px 5px;
      border-style: groove;
      border-width: 15px;
      border-color: black;
      box-shadow: #F4C430 12px 12px 8px;
}

.History-para-hanumanji-heading {
      font-size: 20px;
      font-weight: 600;
      margin-top: 10px;
}

.Hanuman_mandir_Paragraph {
      font-size: 16px;
      font-weight: 500;

}

/* Hanuman Mandir History Style Section End */
.wrapper {
      position: relative;
}

.wrapper .owl-nav {
      color: #fff !important;
}


.owl-carousel .owl-nav button.owl-prev {
      font-size: 30px;
      width: 40px;
      height: auto;
      font-weight: bolder;
      color: rgb(0, 0, 0);
      background-color: #F4C430 !important;
}

.owl-carousel .owl-nav button.owl-next {
      font-size: 30px;
      width: 40px;
      height: fit-content;
      font-weight: bolder;
      color: rgb(0, 0, 0);
      background-color: #F4C430 !important;
}
.owl-carousel .owl-prev, .owl-carousel .owl-next{
      position: absolute;
      top: 35%;

}
.owl-next{
       right: -20px;
}
.owl-prev{
       left: -20px;
}
.item .card img {
      width: 100%;
      height: 100%;
}

.item .card {
      display: flex;
      flex-direction:column;
      align-items: center;
      justify-content: center;
      padding: 10px;
      width: 100%;
      height: 250px;
      background-color:;
}

.slider-card-text p {
      text-align: center;
      font-size: 16px;
      font-weight: 500;

}

.slider-card-text h4 {
      text-align: center;
      color: #08215e;
}

.Hist_places_Img {
      border-radius: 25px;
      border-style: groove;
      border-width: 10px;
      border-color: floralwhite;
}

.TPBox {
      height: 100%;
      border-style: groove;
      border-width: 5px;
      border-radius: 15px;
      padding: 0px;
      position: relative;
      border-radius: 20px 50px 30px 80px;
}

.TPBox img {
      border-radius: 20px 50px 30px 80px;

}

.Name_of_places {
      position: absolute;
      top: 85%;
      left: 50%;
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translate(-50%, -50%);
      color: #ffffff;
      background-color: blaCK;
      opacity: 0.7;
      border-radius: 20px 10px 30px 40px;
}

.Name_of_places p {
      font-size: 16px;
      font-weight: 600;
}

.footer-section {
      width: 100%;
      min-height: 200px;
      background-color: #000000;
      padding: 30px 0px;
}

.footer {
      width: 100%;
}

.social-media-icons {
      margin-top: 50px;
}

.social-media-icons h4 {
      color: #fff;
      font-size: 20px;
      margin-bottom: 20px;

}

.social-media-icons i {
      font-size: 30px;
      color: #fff;
      margin: 0 10px;
}

.quick-link h4 {
      font-size: 20px;
      color: #ffffff;

}

.quick-link ul {
      list-style: none;
}

.quick-link ul li a {
      text-decoration: none;
      cursor: pointer;
      color: #ffffff;
      font-size: 16px;
}

.quick-link ul li {
      margin: 10px 0px;
}

.get-in-touch h4 {
      font-size: 20px;
      color: #fff;
}

.get-in-touch ul {
      list-style: none;
}

.get-in-touch ul li {
      margin: 20px 0px;
      color: #fff;
      font-size: 16px;
      text-align: justify;
}

.get-in-touch ul li i {
      font-size: 16px;
      margin-right: 10px;
}

.footer-bottom .hr-footer {
      width: 100%;
      height: 5px;
      color: #ffffff;
}

.footer-bottom .footer-paragraph {
      color: #ffffff;
      font-size: 20px;
      text-align: center;
}